<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.systemManage.dao.base.CaCentralActivityMapper" >
  <resultMap id="BaseResultMap" type="com.systemManage.pojo.base.CaCentralActivity" >
    <id column="activity_id" property="activityId" jdbcType="VARCHAR" />
    <result column="activity_type" property="activityType" jdbcType="VARCHAR" />
    <result column="activity_time" property="activityTime" jdbcType="VARCHAR" />
    <result column="activity_address" property="activityAddress" jdbcType="VARCHAR" />
    <result column="activity_theme" property="activityTheme" jdbcType="VARCHAR" />
    <result column="activity_content" property="activityContent" jdbcType="VARCHAR" />
    <result column="activity_host" property="activityHost" jdbcType="VARCHAR" />
    <result column="activity_speaker" property="activitySpeaker" jdbcType="VARCHAR" />
    <result column="activity_participant" property="activityParticipant" jdbcType="VARCHAR" />
    <result column="activity_remarks" property="activityRemarks" jdbcType="VARCHAR" />
    <result column="activity_del" property="activityDel" jdbcType="VARCHAR" />
    <result column="activity_create_time" property="activityCreateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.activityType != null" >
         and activity_type = #{condition.activityType,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityTime != null" >
         and activity_time = #{condition.activityTime,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityAddress != null" >
         and activity_address = #{condition.activityAddress,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityTheme != null" >
         and activity_theme = #{condition.activityTheme,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityContent != null" >
         and activity_content = #{condition.activityContent,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityHost != null" >
         and activity_host = #{condition.activityHost,jdbcType=VARCHAR}
      </if>
      <if test="condition.activitySpeaker != null" >
         and activity_speaker = #{condition.activitySpeaker,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityParticipant != null" >
         and activity_participant = #{condition.activityParticipant,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityRemarks != null" >
         and activity_remarks = #{condition.activityRemarks,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityDel != null" >
         and activity_del = #{condition.activityDel,jdbcType=VARCHAR}
      </if>
      <if test="condition.activityCreateTime != null" >
         and activity_create_time = #{condition.activityCreateTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.activityType != null" >
         and activity_type = #{example.condition.activityType,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityTime != null" >
         and activity_time = #{example.condition.activityTime,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityAddress != null" >
         and activity_address = #{example.condition.activityAddress,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityTheme != null" >
         and activity_theme = #{example.condition.activityTheme,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityContent != null" >
         and activity_content = #{example.condition.activityContent,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityHost != null" >
         and activity_host = #{example.condition.activityHost,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activitySpeaker != null" >
         and activity_speaker = #{example.condition.activitySpeaker,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityParticipant != null" >
         and activity_participant = #{example.condition.activityParticipant,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityRemarks != null" >
         and activity_remarks = #{example.condition.activityRemarks,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityDel != null" >
         and activity_del = #{example.condition.activityDel,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.activityCreateTime != null" >
         and activity_create_time = #{example.condition.activityCreateTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    activity_id, activity_type, activity_time, activity_address, activity_theme, activity_content, 
    activity_host, activity_speaker, activity_participant, activity_remarks, activity_del, 
    activity_create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.systemManage.pojo.base.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ca_central_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ca_central_activity
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ca_central_activity
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.systemManage.pojo.base.Criteria" >
    delete from ca_central_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.systemManage.pojo.base.CaCentralActivity" >
    insert into ca_central_activity (activity_id, activity_type, activity_time, 
      activity_address, activity_theme, activity_content, 
      activity_host, activity_speaker, activity_participant, 
      activity_remarks, activity_del, activity_create_time
      )
    values (#{activityId,jdbcType=VARCHAR}, #{activityType,jdbcType=VARCHAR}, #{activityTime,jdbcType=VARCHAR}, 
      #{activityAddress,jdbcType=VARCHAR}, #{activityTheme,jdbcType=VARCHAR}, #{activityContent,jdbcType=VARCHAR}, 
      #{activityHost,jdbcType=VARCHAR}, #{activitySpeaker,jdbcType=VARCHAR}, #{activityParticipant,jdbcType=VARCHAR}, 
      #{activityRemarks,jdbcType=VARCHAR}, #{activityDel,jdbcType=VARCHAR}, #{activityCreateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.systemManage.pojo.base.CaCentralActivity" >
    insert into ca_central_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="activityType != null" >
        activity_type,
      </if>
      <if test="activityTime != null" >
        activity_time,
      </if>
      <if test="activityAddress != null" >
        activity_address,
      </if>
      <if test="activityTheme != null" >
        activity_theme,
      </if>
      <if test="activityContent != null" >
        activity_content,
      </if>
      <if test="activityHost != null" >
        activity_host,
      </if>
      <if test="activitySpeaker != null" >
        activity_speaker,
      </if>
      <if test="activityParticipant != null" >
        activity_participant,
      </if>
      <if test="activityRemarks != null" >
        activity_remarks,
      </if>
      <if test="activityDel != null" >
        activity_del,
      </if>
      <if test="activityCreateTime != null" >
        activity_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="activityType != null" >
        #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="activityTime != null" >
        #{activityTime,jdbcType=VARCHAR},
      </if>
      <if test="activityAddress != null" >
        #{activityAddress,jdbcType=VARCHAR},
      </if>
      <if test="activityTheme != null" >
        #{activityTheme,jdbcType=VARCHAR},
      </if>
      <if test="activityContent != null" >
        #{activityContent,jdbcType=VARCHAR},
      </if>
      <if test="activityHost != null" >
        #{activityHost,jdbcType=VARCHAR},
      </if>
      <if test="activitySpeaker != null" >
        #{activitySpeaker,jdbcType=VARCHAR},
      </if>
      <if test="activityParticipant != null" >
        #{activityParticipant,jdbcType=VARCHAR},
      </if>
      <if test="activityRemarks != null" >
        #{activityRemarks,jdbcType=VARCHAR},
      </if>
      <if test="activityDel != null" >
        #{activityDel,jdbcType=VARCHAR},
      </if>
      <if test="activityCreateTime != null" >
        #{activityCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.systemManage.pojo.base.Criteria" resultType="java.lang.Integer" >
    select count(*) from ca_central_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ca_central_activity
    <set >
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=VARCHAR},
      </if>
      <if test="record.activityType != null" >
        activity_type = #{record.activityType,jdbcType=VARCHAR},
      </if>
      <if test="record.activityTime != null" >
        activity_time = #{record.activityTime,jdbcType=VARCHAR},
      </if>
      <if test="record.activityAddress != null" >
        activity_address = #{record.activityAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.activityTheme != null" >
        activity_theme = #{record.activityTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.activityContent != null" >
        activity_content = #{record.activityContent,jdbcType=VARCHAR},
      </if>
      <if test="record.activityHost != null" >
        activity_host = #{record.activityHost,jdbcType=VARCHAR},
      </if>
      <if test="record.activitySpeaker != null" >
        activity_speaker = #{record.activitySpeaker,jdbcType=VARCHAR},
      </if>
      <if test="record.activityParticipant != null" >
        activity_participant = #{record.activityParticipant,jdbcType=VARCHAR},
      </if>
      <if test="record.activityRemarks != null" >
        activity_remarks = #{record.activityRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.activityDel != null" >
        activity_del = #{record.activityDel,jdbcType=VARCHAR},
      </if>
      <if test="record.activityCreateTime != null" >
        activity_create_time = #{record.activityCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ca_central_activity
    set activity_id = #{record.activityId,jdbcType=VARCHAR},
      activity_type = #{record.activityType,jdbcType=VARCHAR},
      activity_time = #{record.activityTime,jdbcType=VARCHAR},
      activity_address = #{record.activityAddress,jdbcType=VARCHAR},
      activity_theme = #{record.activityTheme,jdbcType=VARCHAR},
      activity_content = #{record.activityContent,jdbcType=VARCHAR},
      activity_host = #{record.activityHost,jdbcType=VARCHAR},
      activity_speaker = #{record.activitySpeaker,jdbcType=VARCHAR},
      activity_participant = #{record.activityParticipant,jdbcType=VARCHAR},
      activity_remarks = #{record.activityRemarks,jdbcType=VARCHAR},
      activity_del = #{record.activityDel,jdbcType=VARCHAR},
      activity_create_time = #{record.activityCreateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.systemManage.pojo.base.CaCentralActivity" >
    update ca_central_activity
    <set >
      <if test="activityType != null" >
        activity_type = #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="activityTime != null" >
        activity_time = #{activityTime,jdbcType=VARCHAR},
      </if>
      <if test="activityAddress != null" >
        activity_address = #{activityAddress,jdbcType=VARCHAR},
      </if>
      <if test="activityTheme != null" >
        activity_theme = #{activityTheme,jdbcType=VARCHAR},
      </if>
      <if test="activityContent != null" >
        activity_content = #{activityContent,jdbcType=VARCHAR},
      </if>
      <if test="activityHost != null" >
        activity_host = #{activityHost,jdbcType=VARCHAR},
      </if>
      <if test="activitySpeaker != null" >
        activity_speaker = #{activitySpeaker,jdbcType=VARCHAR},
      </if>
      <if test="activityParticipant != null" >
        activity_participant = #{activityParticipant,jdbcType=VARCHAR},
      </if>
      <if test="activityRemarks != null" >
        activity_remarks = #{activityRemarks,jdbcType=VARCHAR},
      </if>
      <if test="activityDel != null" >
        activity_del = #{activityDel,jdbcType=VARCHAR},
      </if>
      <if test="activityCreateTime != null" >
        activity_create_time = #{activityCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.systemManage.pojo.base.CaCentralActivity" >
    update ca_central_activity
    set activity_type = #{activityType,jdbcType=VARCHAR},
      activity_time = #{activityTime,jdbcType=VARCHAR},
      activity_address = #{activityAddress,jdbcType=VARCHAR},
      activity_theme = #{activityTheme,jdbcType=VARCHAR},
      activity_content = #{activityContent,jdbcType=VARCHAR},
      activity_host = #{activityHost,jdbcType=VARCHAR},
      activity_speaker = #{activitySpeaker,jdbcType=VARCHAR},
      activity_participant = #{activityParticipant,jdbcType=VARCHAR},
      activity_remarks = #{activityRemarks,jdbcType=VARCHAR},
      activity_del = #{activityDel,jdbcType=VARCHAR},
      activity_create_time = #{activityCreateTime,jdbcType=TIMESTAMP}
    where activity_id = #{activityId,jdbcType=VARCHAR}
  </update>
</mapper>